apiVersion: v1 # Core API group
kind: ConfigMap # Stores non-secret configuration as key/value pairs
metadata:
  name: kafka-env # ConfigMap name (we will reference this from the Deployment)
  namespace: demo # Same namespace as Kafka
data:
  KAFKA_BROKER_ID: '1' # Unique broker id (string)
  KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181' # Zookeeper connection string

  KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:29092' # Where Kafka binds inside the Pod
  KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092' # What clients will use to reach Kafka
  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'PLAINTEXT:PLAINTEXT' # Listener->protocol map
  KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT' # Listener used for broker-to-broker traffic

  KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: '1' # Internal topic replication factor
  KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true' # Auto-create topics on first use

  KAFKA_LOG_DIRS: '/var/lib/kafka/data' # Data/log directory inside the container
  KAFKA_HEAP_OPTS: '-Xms512m -Xmx1024m' # JVM heap options

  KAFKA_LOG4J_ROOT_LOGLEVEL: 'INFO' # Kafka log level
  KAFKA_TOOLS_LOG4J_LOGLEVEL: 'ERROR' # Tools log level
