apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: demo
spec:
  selector:
    app: kafka # Route traffic to Pods labeled app=kafka
  ports:
    - name: broker
      port: 29092 # service port (clients connect here)
      targetPort: 29092 # forward to container port 29092
