apiVersion: apps/v1
kind: Deployment # ensures desired number of Pods are running and replaces them if they die
metadata:
  name: zookeeper
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper # deployment manages pods that have this label
  template: # what each pod will look like
    metadata:
      labels:
        app: zookeeper # the label that will be added to the created pods
    spec:
      containers:
        - name: zookeeper # container name inside the pod
          image: confluentinc/cp-zookeeper:7.6.1
          ports:
            - containerPort: 2181
          env:
            - name: ZOOKEEPER_CLIENT_PORT # Zookeeper client port configuration
              value: '2181'
            - name: ZOOKEEPER_TICK_TIME # tick time for heartbeats (How long to wait before we consider a dead node) 2000s
              value: '2000'
