apiVersion: v1
kind: Service # virtual IP/DNS name in front of pods
metadata:
  name: zookeeper # will be resolvable as "zookeeper" inside the namespace
  namespace: demo
spec:
  selector:
    app: zookeeper # route traffic to Pods with label app=zookeeper
  ports:
    - name: client
      port: 2181 # service port (what clients connect to)
      targetPort: 2181 # pod/container port to forward to

# because pods dead all the time and change ip, service is the stable ip for the pods
# it asks the api server all the pods with app=zookeeper and route all request from 2181 to the label zookeeper
