apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: demo-client:1 # image already contains nginx.conf and built frontend file
          imagePullPolicy: IfNotPresent # use local image if available
          ports:
            - containerPort: 80 # nginx listens on port 80 inside the container
