apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: demo
spec:
  selector:
    app: client # route traffic to Pods labeled app=client
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: NodePort # expose outside the cluster via Node IP + the port
